/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2014, 7:54:00 PM
    Author     : Pubudu
*/

/*controlStyle.css */

.scene{
    -fx-font: 14pt "Cambria Bold";
    -fx-color: #e79423;
    -fx-background: #67644e;
}

.button{
    /*    -fx-text-fill: #006464;
        -fx-background-color: #e79423;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-padding: 5;*/
    // -fx-shape:"triangle1.svg";
    //  -fx-background-radius: 50;
    //  -fx-shape: "M 0,0 L 0,2.5 2,1.25 Z";
    // -fx-background-size: 18 18;
    //-fx-background-color: skyblue, blue;
    //-fx-background-insets: 0, 20 20 20 20;
    //-fx-background-image: url('/com/sifeb/ve/images/MSPlay.png');
    //-fx-background-color: transparent;
}
.label {

    // -fx-font-size: 12px;
    -fx-font-weight:bold;
    -fx-text-fill: #555553;
    -fx-effect: dropshadow( gaussian,rgba(255,255,255,0.5),0,0,0,1);
}
.buttollln {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    //-fx-background-color: linear-gradient(#2A5058, #61a2b1);
    // -fx-background-image: url('/com/sifeb/ve/images/MASSHOW.png');
    // -fx-background-color: transparent;
}

#runBtn {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}
#runBtn:hover {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#editorPane{
    -fx-background-image: url('images/tiny_grid.png');
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
}

#hintBox{
    -fx-background-image: url('images/clouds.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}
