/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 27, 2014, 7:54:00 PM
    Author     : Pubudu
*/

/*controlStyle.css */

.scene{
/*    -fx-font: 14pt "Cambria Bold";*/
    /*-fx-color: #e79423;*/
    /*-fx-background: #67644e;*/
}

.button{
    /*    -fx-text-fill: #006464;
        -fx-background-color: #e79423;
        -fx-border-radius: 20;
        -fx-background-radius: 20;
        -fx-padding: 5;*/
    // -fx-shape:"triangle1.svg";
    //  -fx-background-radius: 50;
    //  -fx-shape: "M 0,0 L 0,2.5 2,1.25 Z";
    // -fx-background-size: 18 18;
    //-fx-background-color: skyblue, blue;
    //-fx-background-insets: 0, 20 20 20 20;
    //-fx-background-image: url('/com/sifeb/ve/images/MSPlay.png');
    //-fx-background-color: transparent;
}
.label {

    // -fx-font-size: 12px;
    -fx-font-weight:bold;
    /*-fx-text-fill: #555553;*/
    -fx-effect: dropshadow( gaussian,rgba(255,255,255,0.5),0,0,0,1);
}
.cap-label{
    -fx-effect: dropshadow(gaussian,rgb(255,255,255), 10, 0.8, 0, 0);
}

.buttollln {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-cursor: hand;
    //-fx-background-color: linear-gradient(#2A5058, #61a2b1);
    // -fx-background-image: url('/com/sifeb/ve/images/MASSHOW.png');
    // -fx-background-color: transparent;
}

#runBtn {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}
#runBtn:hover {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#runBtn:pressed {
     -fx-background-color: linear-gradient(#0A0008, #61a2b1);
}

#clearBtn {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}
#clearBtn:hover {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#clearBtn:pressed {
     -fx-background-color: linear-gradient(#0A0008, #61a2b1);
}

#uploadBtn {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}
#uploadBtn:hover {
     -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#uploadBtn:pressed {
     -fx-background-color: linear-gradient(#0A0008, #61a2b1);
}

#refreshConnBtn{
    -fx-background-radius: 15px;    
}

#musicBtn{
    -fx-background-radius: 20px; 
    -fx-border-radius: 20px; 
    -fx-background-color: #ffffff;
    -fx-background-image: url('images/musicOff.png');
    -fx-border-color: #000000;
    -fx-border-width: 3px;
}

#musicBtn:hover{
    -fx-background-color: #eeeeee;
}

#musicBtn:selected{
    -fx-background-image: url('images/musicOn.png');    
}

.blockPane{
/*    -fx-background-image: url('images/wood_texture.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: repeat-y;*/
}

#btnPanel{
    /*-fx-background-color: linear-gradient(#0A0008, #61a2b1);*/
}

#editorPane{
    -fx-background-image: url('images/tiny_grid.png');
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
}

#hintBox{
    -fx-background-image: url('images/clouds.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

#home{
    -fx-background-image: url('images/Home.png');
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
}

.learnScreen{
    -fx-background-image: url('images/Learn.png');
    -fx-background-position: center center;
    -fx-background-repeat: repeat;
}

.transparent-back{
    -fx-background-color: transparent;
}

.showBtn{
    padding-left: 0;
}

.breadcrumbs {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-border-color: null;
  -fx-border-insets: 0;
  -fx-border-image-source: url("images/crumb.png");
  -fx-border-image-slice: 1 10 1 10 fill;
  -fx-border-image-width: 1 10 1 10;
  -fx-border-image-repeat: stretch;
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}
 
.breadcrumbs:hover {
  -fx-border-image-source: url("images/crumb-hover.png");
}

.upButton {
  -fx-background-color: null;
  -fx-border-color: null;
  -fx-graphic: url("images/up.png");
}

.downButton {
  -fx-background-color: null;
  -fx-border-color: null;
  -fx-graphic: url("images/down.png");
}

#instructionPane{
    -fx-background-image: url('images/congruent_pentagon.png');
}